---
layout: page
---

Tags:
<ul class="blog-tags-list">
  {% assign sorted_tags = site.tags | sort %}
  {% for tag in sorted_tags %}
    {% assign t = tag | first %}
    {% assign posts = tag | last %}
    <li class="blog-tag-item" id="{{ t }}-item">
      <a href onclick="filter('{{ t }}'); return false;">{{ t }}</a>
    </li>
  {% endfor %}
</ul>

Posts:
 <ul class="blog-list">
      {% for post in posts %}
        {% if post.tags contains t %}
          <li>
            <span class="blog-item-date">{{ post.date | date: "%d %b %Y" }}</span>
            <a href="{{ post.url }}">{{ post.title }}</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>

Categories:
<ul class="blog-tags-list">
  {% assign sorted_categories = site.categories | sort %}
  {% for category in sorted_category %}
    {% assign t = category | first %}
    {% assign posts = category | last %}
    <li class="blog-tag-item" id="{{ t }}-item">
      <a href onclick="filter('{{ t }}'); return false;">{{ t }}</a>
    </li>
  {% endfor %}
</ul>

<div class="posts">
  {% for post in site.posts %}
  <div class="post">
    
      <a href="{{ post.url }}">
        {{ post.title }}
      </a> <span class="post-date">{{ post.date | date_to_string }}</span>
  </div>
  {% endfor %}
</div>
